body {
	margin: 0;
	padding: 0;
}

#container {
	background: #8E0E00; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #8E0E00 , #1F1C18); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #8E0E00 , #1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;           
    flex-direction: column;  
    align-items: center;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;      
}
#box1, #box2, #box3 {
	background: linear-gradient(to bottom right, #aaaaaa, white);
	border-radius: 5px;
	width: 800px;
	text-align: center;
	color: black;
	padding: 20px;
}
.maintitle {
	font-family: Verdana;
	font-size: 44px;
	font-weight: bold;
	font-style: italic;
	color: #242424;
}
.innertext {
	margin: 0px 40px;
	text-align: justify;
	font-size: 18px;
}
.hidden {
	display: none;
}
.fadein1 {
	animation: fadein1 3s;
}
.fadein2 {
	animation: fadein2 3s;
}
@keyframes fadein1 {
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:1; }
}
@keyframes fadein2 {
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}
